.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    grid-gap: 45px;
}

.selected-items-container{
    background-color: rgb(124, 56, 56);
    border-radius: 10px;
    color: white;
    padding: 10px;
}

@media screen and (max-width: 688px){
    .shop-container{
        grid-template-columns: 1fr;
    }
    .items-container{
        grid-template-columns: 1fr;
    }
}